.button {
  background-color: #ab3432;
  width: 200px;
  border-radius: 22px;
  border: 4.5px;
  color: white;
  font-family: 'Dela Gothic One';
  font-size: 15px;
}

.button::before {
  box-shadow: none;
}
